@font-face {
  font-family: Cloud;
  src: url(./../font/Cloud-Light.otf);
}
@font-face {
  font-family: CloudB;
  src: url(./../font/Cloud-Bold.otf);
}

* {
  font-family: Cloud;
  box-sizing: border-box;
}

:root {
  --good-aqi-color: #b0e767;
  --medium-aqi-color: #fe9b56;
  --bad-aqi-color: #fe6a69;
  --current-aqi-color: var(--good-aqi-color);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #515154;

  background: #43cea2;
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}

.card {
  width: 500px;
  box-shadow: 0 10px 10px 0 #515154;
}

.aqi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  background-color: var(--current-aqi-color);

  height: 10vh;
  padding: 20px 0;

  border: 1px solid var(--current-aqi-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* !! > คืออะไร */
.aqi > h1 {
  margin: 0;
  font-size: 3em;
}
.location {
  color: #ffffff;
}


.city {
  margin: 0;
  font-size: 2em;
}

.state-country {
  margin-top: 0;
}

.info {
  display: flex;
  background-color: #ffffff;

  border: 1px solid #e6e6e6;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* !! ดอกๆ กับ last-child คือ */
.info > * {
  border-right: 1px solid #e6e6e6;
  padding: 20px;
  flex: 1;
}

.info > *:last-child {
  border: none;
}
