@font-face {
  font-family: Cloud;
  src: url(./font/Cloud-Light.otf);
}
@font-face {
  font-family: CloudB;
  src: url(./font/Cloud-Bold.otf);
}

* {
  font-family: Cloud;
  box-sizing: border-box;
}

body {
  min-height: 98vh;
  height: auto;
  font-size: 2em;

  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  justify-content: space-around;
}
.content-block {
  height: auto;
  width: auto;
  font-size: 0.8em;
  background-color: white;
  border-color: #FFF2B5;
  border-style: solid;
  
  display: block;
  text-align: center;
  border-radius: 15px;
  padding: 0.7em 1em;
  margin: 1em;
  transition: 1.5s;
}
.content-block:hover {
  border-color: #FFF2B5;
  border-style: solid;
  background-color: #FFF2B5;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

a {
  color: black;
  text-decoration: none;
}
