@font-face {
  font-family: Cloud;
  src: url(./../font/Cloud-Light.otf);
}
@font-face {
  font-family: CloudB;
  src: url(./../font/Cloud-Bold.otf);
}

* {
  font-family: Cloud;
  box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-size: 2em;
}